.container {
  position: absolute;
  left: 7%;
}
.buttons {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border-color: #d9d9d9;
  margin: 10px;
}
.buttons:hover {
  color: #5ab2ff;
  border-color: #5ab2ff;
}
h4 {
  position: relative;
  margin-top: 70px;
}
.dropdown {
  width: 100%;
  border-style: none;
  height: 45px;
  background: transparent;
}
img {
  width: 15px;
}
.removeButton {
  border-style: none;
  background: transparent;
  cursor: pointer;
}
input{
  border-style: none;
  background: transparent;
}
